// IMPORT GOOGLE FONT ROBOTO
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400|Montserrat);

// FONT FAMILY VARIABLE
$montserrat: 'Montserrat', sans-serif;
$site-font: 'Lato', sans-serif;

// FONT WEIGHT VARIABLES
$font-xlight: 100;
$font-light: 300;
$font-regular: 400;
$font-regular-italic: 400i;
$font-bold: 700;
$font-xbold: 900;

// FONT SIZE
$font-xsmall: .7em;
$font-small: .8em;
$font-normal: 1em;
$font-large: 2em;

// LINE SPACING
$line-height: 1.6em;

// HEADINGS
h1, h2, h3, h4, h5, h6 {
	color: $main;
}
h1 {
	font-family: $montserrat;
}
h2 {
	text-transform: uppercase;
}
