/* SITE COLOR VARIABLES */
$tealgray: #283b3c;
$main: #007985;
$shade: #025a64;
$shade-drk: #004952;
$dark: #141414;
$gray: #171d1d;
$offwhite: #f2f8f8;
$graywhite: #bababa;
$transparent: lighten($offwhite, 0%);