// CONNIET SITE COLOR VARIABLES
// $teal: #4dccd5;
// $tealshade: #318388;
// $tealdark: #1f5255;
$tealgray: #283b3c;
// $offwhite: #f5fcfd;
// $transparent: lighten($offwhite, 0%);

$main: #007985;
$shade: #025a64;
$shade-drk: #004952;
$dark: #141414;
$gray: #171d1d;
$offwhite: #f2f8f8;
$graywhite: #bababa;
$transparent: lighten($offwhite, 0%);