/* FOOTER */
footer {
	z-index: 99;
	background-color: $main;
	color: $shade-drk;
	font-weight: $font-regular;
	width: 100%;
	text-align: center;
	padding: 40px 0 50px;
	// SCREEN MIN-WIDTH 1200px
	@include laptop() {
		position: absolute;
		margin-top: -9px;
	}
}
.contact {
	margin: 10px auto 0;
	width: 80%;
	h3 {
		color: $shade-drk;
		margin-bottom: 10px;
	}
	// SCREEN MIN-WIDTH 725px
	@include tablet() {
		margin: 20px auto;
		width: 50%;
	}
}
footer a .fa {
	display: inline-block;
	padding: 16px 10px 0;
}
.copy {
	margin-top: 20px;
}