/* GENERAL NAVIGATION */
nav {
	@include box-sizing(border-box);
	width: 100%;
	margin: 0;
	padding: 8px 0 0;
	padding: .5em 0 0;
	background-color: $shade;
	background-color: rgba($shade, .5);
	z-index: 9990;
	// STICKY NAVIGATION
	position: fixed;
	top: 0;
	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		width: 100%;
		.nav-container {
			margin: 0 auto;
			padding-bottom: 0;
		}
	}
}
.darker {
	background-color: $shade-drk;
	background-color: rgba($shade-drk, .9);
}
.lighter {
	background-color: $shade;
	background-color: rgba($shade, .5);
}
.menu-list.dark {
	background-color: $shade;
}
.menu-list.darker {
	background-color: $shade;
	background-color: rgba($shade, .8);
}
.menu-list.lighter {
	background-color: $main;
	background-color: rgba($main, .5);
}
.nav-container {
	width: 100%;
	max-height: 65px;

}
.logo {
	@include box-sizing(border-box);
	max-width: 162px;
	max-height: 65px;
	display: inline-block;
	padding: 0 0 1px 2%;
	padding: 0 0 .65em 2%;
	z-index: 9999;

	img {
		min-width: 30px;
		max-width: 30px;
		position: absolute;
		left: 2%;
	}

	.logo-norm {
		z-index: 999;
	}

	.logo-dark {
		z-index: 10;
	}
}

.nav-name {
	display: inline-block;
	float: left;
	marign-top: 40px;
	margin-left: 36px;
	padding: 0;
	font-family: $montserrat;
	letter-spacing: .05em;
	font-size: 1.2em;
}

/* MOBILE HAMBURGER */
nav .nav-container > .fa-bars {
	display: block;
	float: right;
	margin: 2%;
	cursor: pointer;
	color: $offwhite;
	color: rgba($offwhite, .9);
	@include transition(margin, 1s);
	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin: 1% 2% 0 0;
		@include transition(margin, 1s);
	}

	@include laptop() {
		display: none !important;
	}
}
nav .nav-container > ul {
	display: block;
	float: right;
	width: 100%;
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	cursor: pointer;
	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		display: inline-block;
		width: auto;
		margin: .3% 1.4% -10px 0;
		margin: .3% 1.4% -.63em 0;
	}
}
nav .nav-container > ul > a > li {
	display: none;
	padding: 14px 30px;
	padding: .88em 1.88em;
	// SCREEN MIN-WIDTH 600px
	@include laptop() {
		display: inline-block;
		width: 100px;
		width: 6.25em;
		padding: 0;
		margin: 0;
		text-align: center;
	}
}